body {
    --bg-color: #25282a;
    --blue: #71abfe;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background: var(--bg-color);
}

.slider {
    padding: 20px 30px;

    overflow: hidden;
}

.slides {
    display: flex;
    max-height: 80vh;

    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}


.slides > div {
    width: 100%;

    flex-shrink: 0;
    scroll-snap-align: start;
}

.slide-img {
    display: block;
    width: 100%;
    height: calc(100% - 2rem);

    border-radius: 2%;
    object-fit: cover;
}

.slide-text {
    margin: 1rem 0 0 0;
    color: #ffffff;
}

.navigation {
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1rem;

    background: linear-gradient(to right, rgba(0,0,0,0), var(--bg-color));
}

.navigation > a {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 10px;

    border-radius: 50%;
    background: var(--blue);
}

.navigation > a:hover {
    background: #ffffff;
}

.navigation > a:active {
    background: #bcbdbd;
}

@media (max-width: 480px) {
    .slide-img {
        height: calc(100% - 4rem);
    }

    .slide-text {
        margin-top: 3rem;
    }

    .navigation {
        bottom: 3rem;
        justify-content: center;
    }
}